
body{
  margin: 0px;
  text-align:center;
  font-family:"merriweather",serif;
}
h1{
  color:#hsl(120, 100%, 80%);
  margin-top: 50px;
  font-family: "Sacramento",cursive;
  font-size: 3.5rem;
}
h2{
  color:#66BFBF;
  font-weight:normal;
}
.top-container{
  background-color:#E97777;
  position:relative;
  padding-top:100px;

}
.middle-container{
}
.bottom-container{
}
.deve{
  text-decoration:underline;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:50px;
}
.bottom-cloud{
  position:absolute;
  left:300px;

}
.computer-img{
  width: 10%;
margin:30px;

}
